#!/bin/bash
{{ if eq .chezmoi.osRelease.id "nixos" }}
exit 0
{{ end }}

set -euo pipefail

echo "Installing and updating packages..."

{{ if eq .chezmoi.osRelease.idLike "arch" }}
sudo pacman -Sy --noconfirm

pkgs=()
{{ range .packages.arch }}
if ! pacman -Q "{{ . }}" &>/dev/null; then
  pkgs+=("{{ . }}")
fi
{{ end }}

if [[ ${#pkgs[@]} -gt 0 ]]; then
  echo "Installing pacman packages"
  sudo pacman -S --noconfirm --needed "${pkgs[@]}"
fi

aur_pkgs=()
{{ range .packages.aur }}
if ! pacman -Q "{{ . }}" &>/dev/null; then
  aur_pkgs+=("{{ . }}")
fi
{{ end }}

if [[ ${#aur_pkgs[@]} -gt 0 ]]; then
  echo "Installing AUR packages"
  paru -S --noconfirm --needed "${aur_pkgs[@]}" 
fi

{{ end }}

echo "Done"
