#!/bin/sh
{{ if eq .chezmoi.osRelease.id "nixos" }}
exit 0
{{ end }}

set -euo pipefail

echo "Installing LSPs for Neovim..."

npm install -g --prefix ~/.local \
  @vtsls/language-server \
  @vue/language-server \
  vscode-langservers-extracted

dotnet tool install -g roslyn-language-server --prerelease
dotnet tool install -g csharpier

echo "Done"
