encryption = "age"

[age]
    {{ if eq .chezmoi.osRelease.id "nixos" }}
    identity = "{{ .vars.nixosAgeKeyPath }}"
    {{ else }}
    identity = "{{ .vars.defaultAgeKeyPath }}"
    {{ end }}
    recipient = "age1tl5hp6v0t38fl8gxuqds40z503mwz885ev22au4jdy5r24aak3zsza23sx"

[bitwarden]
    unlock = "auto"
