input {
  keyboard {
    xkb {
      layout "us,ru"
      options "grp:alt_shift_toggle"
    }
    repeat-delay 250
    repeat-rate 50
  }

  mouse {
    accel-profile "flat"
    accel-speed 0.0
  }

  focus-follows-mouse max-scroll-amount="0%"
  workspace-auto-back-and-forth
}

