    prefer-no-csd
    screenshot-path null

    environment {
        QT_QPA_PLATFORMTHEME "qt6ct"
        QT_STYLE_OVERRIDE "kvantum"
        QT_AUTO_SCREEN_SCALE_FACTOR "1"
        XDG_CURRENT_DESKTOP "Niri"
    }

    cursor {
        xcursor-theme "capitaine-cursors"
        xcursor-size 24
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }
