    prefer-no-csd
    screenshot-path null

    environment {
        XDG_CURRENT_DESKTOP "Niri"
        QT_QPA_PLATFORM "wayland"
        QT_QPA_PLATFORMTHEME "xdgdesktopportal"
    }

    cursor {
        xcursor-theme "capitaine-cursors"
        xcursor-size 40
    }

    debug {
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }
