window-rule {
  geometry-corner-radius 20
  clip-to-geometry true
}

window-rule {
  match app-id="steam"
  exclude title=r#"^[Ss]team$"#
  open-floating true
}

window-rule {
  match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
  default-floating-position x=10 y=10 relative-to="bottom-right"
  open-focused false
}

window-rule {
  match app-id="librewolf" title="Picture-in-Picture"

  open-floating true
  open-focused false
  open-maximized false

  geometry-corner-radius 0

  border { 
    off 
  }

  default-column-width { fixed 480; }
  default-window-height { fixed 270; }
  default-floating-position x=40 y=40 relative-to="bottom-right"
}

window-rule {
  match app-id="librewolf"
  match app-id="chromium"
  match app-id="brave"
  match app-id="prizrak-box"
  match app-id="com.discordapp.Discord"
  match app-id="org.telegram.desktop"
  match app-id="kitty"
  open-maximized true
}

layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}
